.callPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 600px;
}

.callPageContainer > * {
  display: block;
}

.textContainer {
  text-align: center;
  max-width: 450px;
}

.padTop {
  margin-top: 32px !important;
}

.partyImage {
  max-width: 300px;
  width: 75%;
}
